.imageDiv{
    max-width: 200px;
    max-height: auto;
    display: block;
    margin: 5px;
}

img{
    height: 100%;
    width: 100%;
    transition: transform .1s;
}

img:hover{
    /* border: rgb(48, 43, 43) solid 3px; */
    border-radius: 5%;
    transform: scale(1.1);
}
